{# src/OC/UserBundle/Resources/views/layout.html.twig #}

{% extends "PipiouSiteBundle:Site:layout.html.twig" %}

{% block body %}
	<header id="main-header">
	</header>
	<div class="container">
		{% block fos_user_content %}
		{% endblock fos_user_content %}
	</div>
{% endblock %}